@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
$search-background-color: rgba(0,0,0,0.9);


// Modal SASS
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: $search-background-color;
    transition: 0.3s;

    .modal-content {
      margin: auto;
      display: block;
      height: 70%;
      width: 47%;
      object-fit: cover;
      border-radius: 10%;
    }

    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
  
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }

  


// Body SASS  
.container {
  .header-search {
    height: 70px;
    background: #d6dde5;
    padding: 91px 118px;
    position: relative;
    
    input {
      height: 57px;
      width: 100%;
      font-size: 20px;
      border: 1px solid #dde2e9;
      border-radius: 10px;
      text-indent: 65px;
      transition: 0.3s;
      &:focus, &:active {
        z-index: 199999;
        border-radius: 10px;
        outline: none;
        box-shadow: 2px 4px 20px -4px rgba(5, 5, 5, 0.1);
        transition: 0.3s;
      }
    }
    
    .fa-search { 
      position: absolute;
      top: 116px;
      left: 138px;
    }
  }
  .image-container {
    .wrapper {
      margin: -3em auto;
      max-width: 970px;

      .masonry {
        display: flex;
        width: 100%;

        .masonry-brick {
          overflow: hidden;
          border-radius: 10px;
          margin: 0 0 50px 8px;  /* Some Gutter */
          background-color: #333;
          color: white;
          position: relative;

          .masonry-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(90%);
          }
          .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: font-size 0.25s, opacity 0.25s ease-in-out;
            h1 {
              font-size: 17px;
              margin: 0;
              width: 50%;
            }
      
            h3 {
              margin: 0;
              font-size: 14px;
            }
          }
        }
        img {
          vertical-align: middle;
          max-width: 100%;
        }
      }
      
    }
    .masonry--v {
      flex-flow: column wrap;
      max-height: 1080px;
      margin-left: -8px; /* Adjustment for the gutter */
      counter-reset: brick;
    }


    // Media Queries
    @media only screen and (min-width: 1024px) {
      .masonry-brick--h:nth-child(4n+1) {
        width: 250px;
      }
      .masonry-brick--h:nth-child(4n+2) {
        width: 325px;
      }
      .masonry-brick--h:nth-child(4n+3) {
        width: 180px;
      }
      .masonry-brick--h:nth-child(4n+4) {
        width: 380px;
      }
      .masonry--v {
        max-height: 1263px;
      }
      .masonry-brick--v {
        width: 33.33333%;
      }
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .masonry-brick--h:nth-child(4n+1) {
        width: 200px;
      }
      .masonry-brick--h:nth-child(4n+2) {
        width: 250px;
      }
      .masonry-brick--h:nth-child(4n+3) {
        width: 120px;
      }
      .masonry-brick--h:nth-child(4n+4) {
        width: 280px;
      }
      .masonry--v {
        max-height: 2000px;
      }
      .masonry-brick--v {
        width: 50%;
      }
    }
  }
}